<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.spring.javawspring.dao.AdminDAO">
  
   <select id="getAdQnaList" resultType="com.spring.javawspring.vo.QnaVO">
    <if test="part == '전체'">
      select * from qna order by idx desc limit #{startIndexNo},#{pageSize};
    </if>
    <if test="part != '전체'">
      select * from qna where reply = #{part} order by idx desc limit #{startIndexNo},#{pageSize};
    </if>
  </select>
    
   <select id="getQnaContent" resultType="com.spring.javawspring.vo.QnaVO">
    select * from qna where idx = #{idx};
  </select>
  
  <select id="getQnaReplyContent" resultType="com.spring.javawspring.vo.QnaReplyVO">
    select * from qnaReply where qnaIdx = #{idx};
  </select>

	<select id="getNotifyUpdate" resultType="com.spring.javawspring.vo.DbShopNoticeVO">
	  select * from dbshopNotice where idx = #{idx};
	</select>
	
  <select id="getNoticePopup" resultType="com.spring.javawspring.vo.DbShopNoticeVO">
  	select * from dbshopNotice where popupSw = 'Y';
  </select>
	
	<select id="getNotifyView" resultType="com.spring.javawspring.vo.DbShopNoticeVO">
	  select * from dbshopNotice where idx = #{idx};
	</select>

  
  
  
  <insert id="setQnaInputAdmin">
    insert into QnaReply values (default,#{vo.qnaIdx},default,#{vo.reContent});
  </insert>
  
  <insert id="noticeInputOk">
    insert into dbshopNotice values (default,#{noticeVo.title},#{noticeVo.content},#{noticeVo.startDate},#{noticeVo.endDate},#{noticeVo.part},#{noticeVo.popupSw},#{noticeVo.fName},#{noticeVo.fSName});
  </insert>
  
  
  
  
  <update id="setMemberLevelCheck">
    update member set level = #{level} where idx = #{idx};
  </update>
  
  <update id="setPopupCheckUpdate">
	  update dbshopNotice set popupSw = #{popupSw} where idx= #{idx};
	</update>
  
  <update id="setQnaUpdateAdmin">
    update qna set reply = '답변완료' where idx = #{qnaIdx};
  </update>
  
  
</mapper>